<div class='wrapper'>
  <h2>About</h2>
  <p>Updog is a static site host powered by the Dropbox API.</p>

  <h2>Changelog</h2>
  <h3>2016-05-09</h3>
  <ul>
    <li>Added support for custom favicon.ico</li>
  </ul>
  <h3>2016-04-06</h3>
  <ul>
    <li>Added support for custom 404 pages
      <ul>
        <li>Create a file named 404.html in your site folder.</li>
      </ul>
    </li>
  </ul>
  <h3>2015-02-24</h3>
  <ul>
    <li>Added support for custom domains</li>
  </ul>
  <h3>2015-02-22</h3>
  <ul>
    <li> Static HTML support</li>
    <li>Added support for https:// subdomains</li>
    <li>Added support for Jekyll sites</li>
  </ul>

  <h2>Feedback</h2>
  <p>Is there a feature you’d like to see, or a bug you’d like to see fixed?</p>
  <p>Let me know by sending an email to <a href='mailto:jesse@updog.co'>jesse@updog.co</a>.</p>
</div>
