<div class='wrapper'>
  <h2>Contact</h2>
  <a data-size="large" href="https://twitter.com/intent/tweet?screen_name=updogco" class="twitter-mention-button" data-show-count="false">Tweet to @updogco</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a href="https://twitter.com/updogco" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @updogco</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <form method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label for='email'>Email Address</label>
    <input required id='email' name='email' type='email' placeholder="jane@doe.com" value='<%= params[:email] %>'>
    <label for='message'>Your Message</label>
    <textarea id='message' name='content'><%= params[:content] %></textarea>
    <button class='btn-create'>Submit</button>
  </form>
</div>
