<div class='wrapper'>
  <h2>Feedback</h2>
  <form method='post' action="/feedback">
  <label>How can we make UpDog better?</label>
  <textarea name='how'></textarea>
  <label>If you'd like us to contact you about your responses, what is your email address?</label>
  <input type='email' name='email'><br>
  <button type='submit' class='btn-create'>Submit</button>
  </form>
</div>