<div class='wrapper'>
<h2>Thank you!</h2>
<p>You have successfully upgraded your account to a Pro membership!</p>
<h3>Now that you're Pro, you can...</h3>
<ul>
  <li><a href='/new'>Create as many sites as you like</a></li>
  <li><a href='https://jshawl.updog.co/markdown-example.md'>Start using markdown</a></li>
  <li><a href='/news/deploy-middleman-sites/'>Configure custom document roots</a></li>
</ul>

<h3>Looking for more?</h3>
<p>We’re always listening and looking for ways to improve. Let us know!</p>

<ul>
  <li><a href='/contact'>Contact us</a></li>
  <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSffDieMhqaIffL0luVG__kCQnivQZc9ai1rWUkQHRv2LwyWhA/viewform'>Give us feedback</a></li>
</ul>
</div>
