<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width'>
  </head>
<body style='max-width:100%'>
  <% if @email %>
    &lt;<%= @email %>> wrote:<br><br>
  <% end %>
  <strong>How can we make UpDog better?</strong><br>
  <%= @how %>
</body>
</html>
