<p>We're having trouble processing the payment for your Updog.co Pro subscription.
Please <a href='https://updog.co/pricing'>Log In</a> now and update your credit
card information to renew your account.</p>

<p>Thank you, and please let us know if you have any questions.</p>

<p>-Jesse</p>
