<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width'>
  </head>
<body style='max-width:100%'>
<p>This is a receipt for your payment of $<%= @price %> to UpDog.</p>

<pre>
-----------------------

UpDog Receipt - <%= @time %>
Amount: $<%= @price %>
ID: <%= @id %>

UpDog Co
153 Todd Pl NE
Washington, DC 20002

-----------------------
</pre>

<p>We appreciate your business! Please let us know if you have any questions.</p>
<p>- Jesse @ UpDog</p>
</body>
</html>
