<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width'>
  </head>
<body style='max-width:100%'>
<p>Welcome to UpDog!</p>

<p>You can now create a new site by visiting https://updog.co/new</p>

<p>While this application can read content placed within the UpDog App folder, we
will never modify or remove your content, or share it with others.</p>

<p>If you have any questions, or even just want to say hello, reply to this email!</p>

<p>Thanks for using UpDog!</p>

<p>- Jesse</p>
</body>
</html>
