<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' type='text/css' href='/markdown.css'>
<h1>Index of <%= @path %></h1>
<ul>
  <li><a href='../'>
    <i class='fa fa-undo'></i>
    Parent Directory
  </a></li>
<% @entries.each do |entry| %>
  <li class='<%= entry[".tag"] %>'>
  <i class='fa fa-<%= entry[".tag"] %>'></i>
    <% path = @path + '/'+  entry["name"] %>
    <% path = path.gsub('//','/') %>
    <%= link_to entry["name"], path %>
  </li>
<% end %>
</ul>
