<% href = "https://updog.co/?utm_source=#{site.name}&utm_campaign=stamp" %>
<div style='position:relative;font-family:sans-serif;'>
  <a style='padding:.25em .5em;position:absolute;margin-bottom:-2px;bottom:0;border: 2px solid black;right:15px;font-size:.75em;background:#fff;display:flex;align-items:center;text-decoration:none;border-radius:5px 5px 0 0;' href="<%= href %>">
    <img style='display:inline-block;height:15px;border-radius:5px 0 0 0 ;margin-right:.5em' src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/8431/logo_copy.png" alt="UpDog logo" />
    <span style='color:#000;display:inline-block;line-height:1;'> Hosted on UpDog</span>
  </a>
</div>
